            .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 30px;
            border-radius: 8px;
            background-color:#c1c6c7;
        }
        body {
            margin-left: 20%;
            margin-right: 20%;
        }
     #nav1{
     height:250px;
     width:130px;
      background-color: #cfd3d4;
     text-align: center;    
     vertical-align: middle;
     }
     #nav2{
        border:1px solid #9cb8cbff;
        overflow:scroll;
        height:500px;
        width:300px;
         background-color: #cfd3d4;
     }
     #nav3{ 
        height:250px;
        width:130px;
         background-color: #cfd3d4;
        text-align: center;    
        vertical-align: middle;
     }
     #h2{
        display:inline-block;
     }
     #td3{
        height:50px;
        width:50px;
        background:white;
     }
     img {
  display: block;
  margin: auto;
}
a:hover{
  width:400px;
}
.b:hover{
    transform:scale(1.1);
}